<style>
  .card-columns {
    column-count: 2;
  }
  .card {
    background-color: transparent;
    border: none;
    border-radius: none;
  }
  .hr-stats {
    width: 15%;
    border: 3px solid #5dca88;
  }
  .star-icon {
    font-size: 2em;
    color: #f1c800;
  }
  .no-col-padding {
    padding: 5px !important;
  }
  .option-container {
    width: 100%;
    border: 1px solid #aaa;
    padding: 0.25em;
  }
  .question-tag {
    padding: 1em;
    margin: 0.5em;
    background-color: #ffe105;
    font-size: 0.8em;
    border-radius: 5px;
    font-weight: 900;
  }
</style>
