<style>
  .question-tag {
    padding: 1em;
    margin: 0.5em;
    background-color: #ffe105;
    font-size: 0.8em;
    border-radius: 5px;
    font-weight: 900;
  }
  .option-container {
    padding: 1em;
    border-radius: 1em;
    max-width: 50%;
    margin-left: 25%;
  }
  .green-container {
    background-color: green;
  }
  .normal-container {
    background-color: #e2e2e2;
  }
  .star-question-row {
    background-color: #efefef;
    border-radius: 1em;
  }
</style>
