<style>
  .level-card {
    padding: 10%;
    box-model: border-box;
    background-clip:padding-box;
    border: 3px solid transparent;
    border-radius: 1em;
  }
  .level-card:hover {
    cursor: pointer;
  }
</style>
