<style>
  .hr-stats {
    width: 15%;
    margin-top: -0.5em;
    left: 1em;
    position: absolute;
  }
  .progress-bg {
  	margin: 0 auto;
  	width: 40%;
  	height: 2vh;
  	border-radius: 1em;
    text-align: center;
  	background: #f0f1f3;
    float: right
  }
  .progress-bar {
  	height: 2vh;
  	border-radius: 1em;
  	float: left;
  }
  .contribution-text {
    color: #a0a7be;
    font-size: 0.9em;
  }
</style>
