{% extends "contributor/main.jinja" %}
{% block main %}

{% include("contributor/level/level_script.jinja") %}
{% include("contributor/level/level_style.jinja") %}

<div class="text-center">
  <div class="row p-2">
    <div class="col-sm-12 col-md-12 col-lg-12 white-container p-4 text-left">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <h3>{{chapter_name}}</h3>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 text-right">
          <span class="grade-tag">Grade {{grade}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h4 class="mt-4">Select a level for which you want to submit questions</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    {% if levels | length > 0 %}
      {% for level in levels %}
        {% set level_percentage = (level.get("total_count") * 100) / 50.0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 white-container p-4 mt-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-left">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h4 class="heavy-font">Level {{level.get("level_number")}}</h4>
                  <hr class="hr-stats" style="border: 3px solid {{level.get('level_color')}};"/>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mt-4">
                  <p>{{level.get("level_name")}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-right">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h5 class="heavy-font">Goal</h5>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h3 class="heavy-font" style="color: #5dca88;">50</h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                  <div class="progress-bg">
                  	<div class="progress-bar" style="width: {{level_percentage}}%; background-color: #a39ef5;"></div>
                  </div>
                </div>
                {% if level.get("total_contributions_by_contributor") < 5 %}
                <div class="col-sm-12 col-md-12 col-lg-12 mt-1">
                  <p class="contribution-text heavy-font">{{level.get("total_count")}} Contributed</p>
                </div>
                {% else %}
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <p class="contribution-text heavy-font">All questions contributed for this level</p>
                </div>
                {% endif %}
                {% if level.get("total_contributions_by_contributor") < 5 %}
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button class='action-button-style heavy-font' id="contribute" onclick="create_question({{loop.index}})">Contribute</button>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col-sm-12 col-md-12 col-lg-12 white-container p-4 mt-3 text-left">
        <h4>It looks like you have entered questions for all the levels in this chapter</h4>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
