{% extends "contributor/main.jinja" %}
{% block main %}

{% include("contributor/dashboard/dashboard_script.jinja") %}
{% include("contributor/dashboard/dashboard_style.jinja") %}

<div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <img src="{{user_data.get('profile_image')}}" class="rounded-circle profile-image-display" alt="Profile Image" width="100">
      <span class="profile-img-upload">Upload</span>
      <input type="file" class="upload-profile-image" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <h4>{{user_data.get('name')}}</h4>
    </div>
  </div>
  <div class="row number-stat-container mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6 text-left">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p><b>Total Questions - </b>{{user_data.get('total_questions')}}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p><b>Total Approved Questions - </b>{{user_data.get('total_approved')}}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p><b>Total Star Questions - </b>{{user_data.get('total_star_questions')}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 text-left">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p><b>Total Questions Reviewed - </b>{{user_data.get('total_reviewed')}}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p><b>Approval Rate - </b>{{user_data.get('approval_rate')}}%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Today's Goal</h2>
      <h4>{{user_data.get('daily_goal')}}</h4>
    </div>
  </div>
</div>

{% endblock %}
