<script>
  google.charts.load('current', {'packages':['corechart']});

  {% if chart_data|length > 1 %}
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
     var data = google.visualization.arrayToDataTable({{chart_data}});

     var options = {
       curveType: 'function',
       legend: { position: 'top', alignment: 'center', textStyle: {fontSize: 20} },
       colors: ["#a39ef5", "#5dca88"],
       lineWidth: 5
     };

     var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

     chart.draw(data, options);
    }
  {% endif %}
  $(function(){
    $('.upload-profile-image').change(function(){
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.profile-image-display').attr('src', e.target.result)
        };
        reader.readAsDataURL(this.files[0]);
        var fd = new FormData();
        fd.append('profile_image', $('.upload-profile-image')[0].files[0])
        $.ajax({
          url: "{{url_for('contributor_api.update_profile_image')}}",
          type: 'post',
          contentType: false,
          processData: false,
          data: fd,
          beforeSend: function(){
            $('.main-container').addClass('blur');
            $(':button').prop('disabled', true);
            $("#loader").show();
          },
          success: function (result) {
            ;
          },
          error: function (result) {
            Swal.fire(
             'Error',
             result.responseJSON.message,
             'error'
            )
          },
          complete:function(data){
            $('.main-container').removeClass('blur');
            $(':button').prop('disabled', false);
            $("#loader").hide();
          }
        });
      }
    })
  })
  $(document).ready(function(){
    $("#dashboard_navigator").addClass("active")
  })
</script>
