<style>
  .hr-stats {
    width: 30%;
    margin-top: -0.5em;
    border: 3px solid #9892f5;
  }
  .profile-img-upload {
    background-color: #d7d6d6;
    padding: 1em 4em;
    border-radius: 5px;
  }
  .profile-img-upload:hover {
    cursor: pointer;
  }
  input.upload-profile-image {
    cursor: pointer;
    opacity: 0;
    width: 14%;
    position: absolute;
    left: 43%;
    height: 3em;
    top: -0.75em;
  }
</style>
