<style>
  .profile-img-upload {
    position: absolute;
    bottom: 0;
    background-color: #eaf8fe;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .profile-img-upload:hover {
    cursor: pointer;
  }
  input.upload-profile-image {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 10%;
    height: 80%;
  }
  .number-stat-container {
    padding: 3%;
    background-color: #e2e2e2;
    border: 2px solid black;
    margin: 2%;
  }
</style>
