<style>
  .hr-stats {
    width: 15%;
    margin-top: -0.5em;
    left: 1em;
    position: absolute;
  }
  .action-button-style {
    width: 30%;
    background-color: #5dca88;
    color: white;
    padding: 0.5em;
    border-radius: 3em;
  }
  .grade-tag {
    padding: 1em;
    margin: 0.5em;
    background-color: #ffe105;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 900;
  }
</style>
