<script>
  $(function(){
    function detectMob() {
      const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
      ];
      return toMatch.some((toMatchItem) => {
        return navigator.userAgent.match(toMatchItem);
      });
    }
    let is_mobile = detectMob();
    if (is_mobile) {
      $('body').empty();
      let html = `
                    <style>
                      body {
                        background-color: #eaf8fe;
                      }
                      * {
                        font-family: 'Comfortaa', Helvetica, Arial;
                      }
                    </style>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-5 text-center">
                      <span style="font-size: 3em; color: #656b6a;">PixelEditor</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-5">
                      <img src="/static/images/not_supported.gif" style="width: 50%; height: auto;">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
                      <h3 style="color: #656b6a;">This website does not support mobile! Please use a desktop.</h3>
                    </div>
                `
      $("body").append(html)
    }
    $('.login-contributor').click(function(){
      let data = {
        "email": $('#email').val(),
        "password": $("#password").val()
      }
      $.ajax({
        url: "{{url_for('contributor_api.login')}}",
        type: "post",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json',
        beforeSend: function(){
          $('.main-container').addClass('blur');
          $(':button').prop('disabled', true);
          $("#loader").show();
        },
        success: function (result) {
          window.location.href = `{{url_for('contributor.dashboard')}}`
        },
        error: function (result) {
          $("#loader").hide();
          Swal.fire(
           'Uh Oh!',
           result.responseJSON.message,
           'error'
          )
        },
        complete:function(data){
          $('.main-container').removeClass('blur');
          $(':button').prop('disabled', false);
          $("#loader").hide();
        }
      })
    })
  })
  function show_hide_password() {
    if ($("#password_icon").hasClass("fa-eye")) {
      $("#password_icon").removeClass("fa-eye").addClass("fa-eye-slash")
      $("#password").attr("type", "password");
    } else {
      $("#password_icon").removeClass("fa-eye-slash").addClass("fa-eye")
      $("#password").attr("type", "text");
    }
  }
</script>
