{% extends "admin/main.jinja" %}
{% block main %}

{% include("admin/question/review_question/review_question_script.jinja") %}
{% include("admin/question/question_style.jinja") %}

<div class="text-center">
  <div class="row p-2">
    <div class="col-sm-12 col-md-12 col-lg-12 white-container p-4 text-left">
      <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <h3>{{level_name}}</h3>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 text-right">
          <span class="grade-tag">Grade {{grade}} - Chapter {{chapter}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-sm-12 col-md-12 col-lg-5 white-container p-4 text-left"
      style="background-clip:padding-box; border: 10px solid transparent; border-radius: 2em;">
      {% if question_data.get("super_admin_feedback") %}
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="heavy-font">Feedback given by Super Admin</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <textarea rows="5" class="form-control form-input latex-input" name="feedback" id="feedback"
            placeholder="Feedback" readonly>{{question_data.get("super_admin_feedback")}}</textarea>
        </div>
      </div>
      {% endif %}
      <div class="row mt-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="form-control form-input" value="{{question_data.get('contributor_name')}}"
            readonly />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="flex: wrap;">
          {% for name, formula in formula_list.items() %}
          <button class="formula-button-1" data-value="{{formula}}">{{name}}</button>
          {% endfor %}
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="heavy-font">Question Text</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <textarea rows="5" class="form-control form-input latex-input" name="question_text"
            id="question_text">{{question_data.get("question_text")}}</textarea>
        </div>
      </div>
      {% for option_key in ["option_a", "option_b", "option_c", "option_d"] %}
      {% for key, value in question_data.get("options").items() %}
      {% if option_key == key %}
      <div class="row mt-4">
        <div class="col-sm-11 col-md-11 col-lg-11 input-group" style="overflow: hidden;">
          {% if "amazonaws" not in question_data.get('options').get(key) %}
          <input type="text" class="form-control form-input-option latex-input" name="{{key}}_text" id="{{key}}_text"
            placeholder="Option {{key.split('_')[-1] | upper}}" value="{{value}}" />
          {% else %}
          <input type="text" class="form-control form-input-option latex-input" name="{{key}}_text" id="{{key}}_text"
            placeholder="Option {{key.split('_')[-1] | upper}}" value="{{value}}" readonly />
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
      <div class="row mt-4">
        <div class="col-sm-11 col-md-11 col-lg-11 input-group">
          <select class="form-control form-input" name="correct_option" id="correct_option">
            <option value="">Correct answer</option>
            {% for option in ['a', 'b', 'c', 'd'] %}
            {% if question_data.get("correct_option")[-1] == option %}
            <option value="{{option}}" selected>Option {{option | upper}}</option>
            {% else %}
            <option value="{{option}}">Option {{option | upper}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row mt-4 mb-5">
        <div class="col-sm-11 col-md-11 col-lg-11">
          <textarea rows="5" class="form-control form-input latex-input" name="feedback" id="feedback"
            placeholder="Feedback"></textarea>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-11 col-md-11 col-lg-11 input-group">
          <select class="form-control form-input" name="graphics_required" id="graphics_required">
            <option value="">Does this question require graphic work?</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7 white-container p-4 text-left"
      style="background-clip:padding-box; border: 10px solid transparent; border-radius: 2em;"
      id="question_preview_column">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#preview_tab">Preview</a></li>
            <li><a data-toggle="tab" href="#pdf_tab">PDF</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div id="preview_tab" class="tab-pane fade in active">
          <div class="row mt-3 pl-2 pr-5">
            <div class="col-sm-12 col-md-12 col-lg-12" id="question_preview_container">
              <p id="question_preview"></p>
            </div>
          </div>
          {% if question_data.get('question_image') != "#" %}
          <div class="row mt-3 pl-2 pr-5">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="question_image_preview_container">
              <img src="{{question_data.get('question_image')}}" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center p-2 delete-icon"
              id="question_image_preview_delete_container">
              <i class="fa fa-trash fa-lg delete-question-image"></i>
            </div>
          </div>
          {% endif %}
          {% for option_key in ["option_a", "option_b", "option_c", "option_d"]  %}
          {% for key, value in question_data.get("options").items() %}
          {% if key == option_key %}
          <div class="row mt-3 pl-2 pr-5">
            {% if "amazonaws" in value %}
            <div class="col-sm-12 col-md-12 col-lg-12 hidden text-center"
              id="option_{{key.split('_')[-1]}}_preview_container">
              {% else %}
              <div class="col-sm-12 col-md-12 col-lg-12 text-center"
                id="option_{{key.split('_')[-1]}}_preview_container">
                {% endif %}
                <p id="option_{{key.split('_')[-1]}}_preview">{{value}}</p>
              </div>
              {% if "amazonaws" not in value %}
              <div class="col-sm-12 col-md-12 col-lg-12 hidden text-center"
                id="option_{{key.split('_')[-1]}}_image_preview_container">
                {% else %}
                <div class="col-sm-12 col-md-12 col-lg-12 text-center"
                  id="option_{{key.split('_')[-1]}}_image_preview_container">
                  {% endif %}
                  <img src="{{value}}" />
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </div>
            <div id="pdf_tab" class="tab-pane fade">
              <embed class="mt-5" src="{{pdf_url}}" width="100%" height="80%" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-2 mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <button class='action-button-style' id="approve_question" style="width: 90%">Approve question</button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <button class='action-button-style' id="disapprove_question" style="width: 90%">Disapprove question</button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <button class='action-button-style' id="skip_question" style="width: 90%">Skip question</button>
        </div>
      </div>
    </div>

    {% endblock %}