<style>
  .container {
    margin-top: -10vh;
  }
  .ribbon {
    font-size: 2em !important;
    width: 50%;
    position: relative;
    background: #A52A2A;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em;
  }
  .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #8B0000;
    z-index: -1;
  }
  .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
  }
  .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
  }
  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #800000 transparent transparent transparent;
    bottom: -1em;
  }
  .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
  }
  .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
  }
  .first_position_icon {
    color: #d4af37;
  }
  .second_position_icon {
    color: #C0C0C0;
  }
  .third_position_icon {
    color: #cd7f32;
  }
  main li.active {
    border: 1px solid black;
    border-bottom: none;
  }
  main ul li {
    padding: 1em;
  }
  main.nav-tabs {
    border-bottom: none;
  }
  .fade:not(.show) {
    opacity: 1 !important;
  }
  main li a {
    color: #000;
  }
  main li a:hover {
    text-decoration: none;
  }
</style>
