{% extends "graphics/main.jinja" %}
{% block main %}

{% include("graphics/dashboard/dashboard_script.jinja") %}
{% include("graphics/dashboard/dashboard_style.jinja") %}

<div class="text-center">
    <div class="row p-2">
        <div class="col-sm-12 col-md-12 col-lg-12 white-container p-5">
            <div class="overlap-box" style="background: #5dca88;"></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1>Hello <b style="color: #5dca88">{{user_data.get('name')}}</b></h1>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-3">
                    <img src="{{user_data.get('profile_image')}}" class="rounded-circle profile-image-display"
                        alt="Profile Image" width="150" height="150" />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-5">
                    <span class="profile-img-upload">Upload</span>
                    <input type="file" class="upload-profile-image" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}