{% extends "super_admin/main.jinja" %}
{% block main %}

{% include("super_admin/question/review_question_script.jinja") %}
{% include("super_admin/question/review_question_style.jinja") %}

<div class="text-center">
    <div class="row p-2">
        <div class="col-sm-12 col-md-12 col-lg-12 white-container p-4 text-left">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <h3>{{level_name}}</h3>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 text-right">
                    <span class="grade-tag">Grade {{grade}} - Chapter {{chapter}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12 col-md-12 col-lg-5 white-container p-4 text-left"
            style="background-clip:padding-box; border: 10px solid transparent; border-radius: 2em;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="heavy-font">Approved By</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="form-control form-input" value="{{admin_name}}" readonly />
                </div>
            </div>
            <div class="row mt-3 pl-2 pr-5">
                <div class="col-sm-12 col-md-12 col-lg-12" id="question_preview_container">
                    {{question_data.get("question_text") | safe}}
                </div>
            </div>
            <div class="row mt-3 pl-2 pr-5">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="question_image_preview_container">
                    {% if question_data.get('question_image') != "#" %}
                    <img src="{{question_data.get('question_image')}}" />
                    {% endif %}
                </div>
            </div>
            {% for option_key in ["option_a", "option_b", "option_c", "option_d"]  %}
            {% for key, value in question_data.get("options").items() %}
            {% if key == option_key %}
            <div class="row mt-3 pl-2 pr-5">
                {% if "amazonaws" not in value %}
                <div class="col-sm-12 col-md-12 col-lg-12 text-center"
                    id="option_{{key.split('_')[-1]}}_preview_container">
                    <p id="option_{{key.split('_')[-1]}}_preview">{{value}}</p>
                </div>
                {% endif %}
                {% if "amazonaws" in value %}
                <div class="col-sm-12 col-md-12 col-lg-12 text-center"
                    id="option_{{key.split('_')[-1]}}_image_preview_container">
                    <img src="{{value}}" />
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <div class="row mt-4 mb-5">
                <div class="col-sm-11 col-md-11 col-lg-11">
                    <textarea rows="5" class="form-control form-input latex-input" name="feedback" id="feedback"
                        placeholder="Feedback"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 white-container p-4 text-left"
            style="background-clip:padding-box; border: 10px solid transparent; border-radius: 2em;"
            id="question_preview_column">
            <embed class="mt-5" src="{{pdf_url}}" width="100%" height="80%" />
        </div>
    </div>
    <div class="row p-2 mt-5">
        <div class="col-sm-12 col-md-3 col-lg-3 text-center">
            <button class='action-button-style' id="disapprove_quality" style="width: 90%">Disapprove for
                quality</button>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 text-center">
            <button class='action-button-style' id="disapprove_graphics" style="width: 90%">Disapprove for
                graphics</button>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 text-center">
            <button class='action-button-style' id="star_question" style="width: 90%">Star question</button>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 text-center">
            <button class='action-button-style' id="deploy_question" style="width: 90%">Deploy</button>
        </div>
    </div>
</div>
{% endblock %}